<html>
<head>
<title>List Galleries</title>
</head>
<body>
<?php if (!$this->data['is_logged_in']): ?>
	<p><a href="/user/login">Editor Login</a></p>
<?php else : ?>
	<p>You are currently logged in. <a href="/user/logout">Logout</a></p>
<?php endif; ?>	

<h1>Galleries</h1>
<?php foreach ($this->data['galleries'] as $gallery): ?>
	<p>
		<?php echo $gallery->name;?>
		<a href="/gallery/view/?id=<?php echo $gallery->id; ?>">View</a>
		<?php if ($this->data['is_logged_in']): ?>
			<a href="/gallery/edit/?id=<?php echo $gallery->id; ?>">Edit</a>
			<a href="javascript:confirmDelete(<?php echo $gallery->id; ?>)">Delete</a>
		<?php endif; ?>
	</p>
<?php endforeach; ?>

<script>
function confirmDelete(id)
{
	x = confirm("Are you sure you want to delete gallery #" +id.toString() + "?");
	if (x) {
		window.location = '/gallery/delete/?id=' + id.toString();
	}
}
</script>
</body>
</html>