<html>
<head>
</head>
<body>
<?php if (!$this->data['is_logged_in']): ?>
	<p><a href="/user/login">Editor Login</a></p>
<?php else : ?>
	<p>You are currently logged in. <a href="/user/logout">Logout</a></p>
<?php endif; ?>	

<h1>Gallery ID = <?php echo $this->data['gallery']->id; ?></h1>
<?php if ($this->data['is_logged_in']): ?>
	<a href="/gallery/edit/?id=<?php echo $this->data['gallery']->id; ?>">Edit</a>
<?php endif; ?>

<?php foreach ($this->data['photos'] as $photo): ?>
	<img src="<?php echo $photo->filepath; ?>">

<?php endforeach; ?>
</body>
</html>